{% extends 'pages/base.html' %}
{% load static %}


{% block content %}

<div class="comments">
    <form method="POST">{% csrf_token %}
        {{form.as_p}}
        <button type="submit">Send</button> 
    {% for comment in comments %}

    <div class="comment card" style="border-bottom: 1px solid gray">
      <h5 style="width: 50%; display: inline-block;" class="text-left text-danger">{{ comment.user }}</h5>
      <p style="width: 40%; display: inline-block;" class="text-muted text-right">{{ comment.created_time }}</p>
      <div class="card-body">
        <p>{{ comment.body }}</p>
      </div>
    </div style="margin-bottom: 30px">

    {% endfor %}
    </form>
</div>

{% endblock content %}