{% extends 'pages/base.html' %}
{% load static %}


{% block content %} 

  <form class="form-control" method="POST">{% csrf_token %}
    <h1>CONTACT US</h1>
    <div class="full_name row">
      <div class="first_name col-6">
        <label for="first_name" class="d-block">First Name</label>
        <input class="w-100" type="text" id="first_name" name="first_name" />
      </div>
      <div class="last_name col-6">
        <label for="last_name" class="d-block">Last Name</label>
        <input class="w-100" type="text" id="last_name" name="last_name" />
      </div>
    </div>
    <div class="connecting row">
      <div class="email col-6">
        <label for="email" class="d-block">Email</label>
        <input class="w-100" type="email" id="email" name="email" />
      </div>
      <div class="phone_number col-6">
        <label for="phone_number" class="d-block">Phone number</label>
        <input class="w-100" type="number" name="phone_number" id="phone_number" />
      </div>
    </div>
    <div class="send_message row">
      <div class="message col-6">
        <label for="message" class="d-block">Message</label>
        <textarea class="w-100" name="message" id="message" cols="15" rows="5"></textarea>
      </div>
      <div class="send col-6">
        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
  
{% endblock %}
