{% extends 'pages/base.html' %}
{% load static %}

{% block navbar_menu %}

<ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" id="home" aria-current="page" href="{% url 'home_page_view' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="bought" href="{% url 'bought_page_view' %}">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="product" href="{% url 'product_page_view' %}">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact" href="{% url 'contact_page_view' %}">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="log_in" href="{% url 'login' %}">Log in</a>
    </li>
  </ul>

{% endblock navbar_menu %}


{% block content %}

<form method="POST">{% csrf_token %}
    <h2 style="color: #4682B4">Brand: <q style="color: #A0522D">{{detail.title}}</q></h2>
    <h4 style="color: #4682B4">Name: <q style="color: #A0522D">{{detail.subtitle}}</q></h4>
    {{form.as_p}}
    <button type="submit" class="btn btm-danger"><b>Watch delete</b></button>
</form>

{% endblock content %}