{% extends 'pages/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}

<header class="header row">
    <div class="about col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <h5>{% blocktrans %}Sizning uslubingizni tomosha qiling.{% endblocktrans %}</h5>
      <h1>{% blocktrans %}Siz hech qachon haqiqiy soat taqmagansiz.{% endblocktrans %}</h1>
      <p>{% blocktrans %}Iste'molchilar uchun mavjud soatlar uslublari cheksiz va foyda ham cheksizdir. Agar siz moda Geek bo'lsangiz va ehtiyojni tartibga solishga jur'at etsangiz.{% endblocktrans %}</p>
      <div class="buttons">
        {% if request.user.is_authenticated %}
        <a href="{% url 'product_page_view' %}" class="btn started btn-outline-primary">{% blocktrans %}Boshlash{% endblocktrans %}</a>
        {% else %}
        <a href="{% url 'login' %}" class="btn started btn-outline-primary">{% blocktrans %}Boshlash{% endblocktrans %}</a>
        {% endif %}
        <a href="{% url 'product_page_view' %}" class="btn btn-outline-primary">{% blocktrans %}Galereya{% endblocktrans %}</a>
      </div>
    </div>
    <div class="slide col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
      <div id="carouselExampleIndicators" class="carousel slide m-4">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {% for watch in watchs_slide %}
            {% if forloop.first %}
            <div class="carousel-item active">
              <img src="{{ watch.image_one.url }}" class="d-block w-100" alt="Picture" />
            </div>
            {% endif %}
            {% if forloop.counter > 1 %}
            <div class="carousel-item">
              <img src="{{ watch.image_one.url }}" class="d-block w-100" alt="Picture" />
            </div>
            {% endif %}
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{% blocktrans %}Oldingi{% endblocktrans %}</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">{% blocktrans %}Keyingi{% endblocktrans %}</span>
        </button>
      </div>
    </div>
  </header>
  
  <section class="home-section section container justify-content-center">
    <div class="part-one text-center">
        <h1>{% blocktrans %}Bizning Xizmat Xususiyatimiz{% endblocktrans %}</h1>
        <p class="text-center">{% blocktrans %}Tomosha kompaniyalari endi yoshlar kim har doim maqsadlar qaysi trendy soatlar haqida ko'proq e'tibor bor.{% endblocktrans %}</p>
        <div class="main-part row justify-content-center">
            <div class="cards-one text-center col-3 col-sm-3 col-12">
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/Group 101.png' %}" alt="Picture">
                    <h5 class="card-title">{% blocktrans %}Android versiyasi{% endblocktrans %}</h5>
                    <p class="card-text">{% blocktrans %}Android rasman 10.0{% endblocktrans %}</p>
                </div>
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/Group 103.png' %}" alt="Picture">
                    <h5 class="card-title">{% blocktrans %}Internet Xizmati{% endblocktrans %}</h5>
                    <p class="card-text">{% blocktrans %}$ G Aqlli Soatlar{% endblocktrans %}</p>
                </div>
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/Group 105.png' %}" alt="Picture">
                    <h5 class="card-title">{% blocktrans %}Musiqa pleyeri {% endblocktrans %}</h5>
                    <p class="card-text">{% blocktrans %}Musiqa ilovasidan foydalaning{% endblocktrans %}</p>
                </div>
            </div>
  
            <div class="part-one__img col-lg-6 col-md-12 col-sm-12 col-12 text-center align-self-center">
                <img class="img-fluid" src="{% static 'images/watch.png' %}" alt="Picture">
            </div>
  
            <div class="cards-two col-3 col-sm-3 col-12">
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/Group 107.png' %}" alt="Picture">
                    <h5 class="card-title">{% blocktrans %}Batareya{% endblocktrans %}</h5>
                    <p class="card-text">{% blocktrans %}Batareya muddati 18 soat{% endblocktrans %}</p>
                </div>
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/Group 109.png' %}" alt="Picture">
                    <h5 class="card-title">{% blocktrans %}Sozlamalar{% endblocktrans %}</h5>
                    <p class="card-text">{% blocktrans %}Sozlamalaringizni tanlang{% endblocktrans %}</p>
                </div>
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/Group 111.png' %}" alt="Picture">
                    <h5 class="card-title">{% blocktrans %}Xabarlar{% endblocktrans %}</h5>
                    <p class="card-text">{% blocktrans %}Xabarlar ilovasini oching{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="part-two justify-content-center">
        <div class="about">
            <p>{% blocktrans %}Tomosha qilish{% endblocktrans %}</p>
            <h1 class="display-4">{% blocktrans %}Bizning Mavjud Mahsulotimiz{% endblocktrans %}</h1>
            <p>{% blocktrans %}Soat-bu kerakli moda aksessuari va erkaklar va ayollar uchun zarur shkaf sifatida qaraladi. Qo'l soatlari odatda.{% endblocktrans %}</p>
        </div>
        <div class="cards row justify-content-center">
            <div class="card col-3">
                <img class="img-fluid" src="{% static 'images/photo-1.png' %}" alt="Picture">
            </div>
            <div class="card col-3">
                <img class="img-fluid" src="{% static 'images/photo-2.png' %}" alt="Picture">
            </div>
            <div class="card col-3">
                <img class="img-fluid" src="{% static 'images/photo-3.png' %}" alt="Picture">
            </div>
        </div>
        <div class="watch-video justify-content-center row">
            <div class="videoParent col-xxl-6 col-xl-7 col-lg-12">
                <video class="video">
                    <source src="https://smartwatch-setes-128355.netlify.app/video/Introducing%20Apple%20Watch%20Series%208%20_%20Apple.mp4">
                </video>
            </div>
            <div class="video-text col-xxl-5 col-xl-5 col-lg-12">
                <h2 class="display-4">{% blocktrans %}Sizning eng yaxshi vaqtingiz uchun eng yaxshi soat.{% endblocktrans %}</h2>
                <p>{% blocktrans %}Soat juda mashhur moda aksessuari bo'lgani uchun va erkaklar va ayollar uchun shkafning muhim qismi sifatida qaraladi.{% endblocktrans %}</p>
                <button class="play-video" type="submit">{% blocktrans %}Play Video{% endblocktrans %}</button>
            </div>
        </div>
        <div class="text-card row">
            <p class="col-12 align-center-start">{% blocktrans %}Misol uchun, agar kimdir noqulay sharoitlarda yashasa, ular
                shiori aniqligi ostida foydalaning
                ularga soatlarini ko'rsatish uchun noqulay sharoitlar ularning ehtiyojlarini qondirishi mumkin. Xuddi shunday, agar kimdir yoqsa
                handmade mahsulotlari keyin ular shiori Handmade foydalanish.{% endblocktrans %} </p>
            <div class="about col-12 row align-items-end justify-content-start">
                <div class="info col-3">
                    <h3>{% blocktrans %}Ronald Richards{% endblocktrans %}</h3>
                    <p>{% blocktrans %}D.M.Richards{% endblocktrans %}</p>
                </div>
                <div class="img col-3 align-self-center"><img class="" src="{% static 'images/Rectangle 33.png' %}"
                        alt="Picture"></div>
                <div class="col-4 vector">
                    <img src="{% static 'images/Vector (3).png' %}" alt="Picture">
                    <img src="{% static 'images/Vector (3).png' %}" alt="Picture">
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <script src="{% static 'js/script.js' %}"></script>
  <script>
    this.window.addEventListener('DOMContentLoaded', function () {
      const myVideo = this.document.querySelector('.video');
      const button = this.document.querySelector('.play-video');
  
      myVideo.muted = false;
  
      button.addEventListener('click', function () {
          if(myVideo.paused)
          {
              myVideo.play();
              button.innerHTML = "Pause Video";
          }
          else
          {
              myVideo.pause();
              button.innerHTML = "Play Video";
          }
      })
  })
  </script>

{% endblock content %}