{% extends 'pages/base.html' %}
{% load static %}

{% block navbar_menu %}

<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" id="home" aria-current="page" href="{% url 'home_page_view' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="bought" href="{% url 'bought_page_view' %}">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link local_active active" id="product" href="{% url 'product_page_view' %}">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact" href="{% url 'contact_page_view' %}">Contact</a>
  </li>
  {% if request.user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'logout' %}" class="btn btn-danger b_none nav-link">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link  log_in" id="log_in" href="{% url 'login' %}">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link log_in" href="{% url 'sign_up' %}">Sign up</a>
  </li>
  {% endif %}
</ul>

{% endblock navbar_menu %}


{% block content %}

<h1 class="text-center text-info h2">Parolni tiklash uchun emailingizga havola yuborildi!</h1>
<h1 class="text-center text-info h2">Havola orqali parolingizni tiklashingiz mumkin!</h1>
<h1 class="text-center text-info h2">Agar xabarni olmagan bo'lsangiz qaytadan <a href="{% url 'password_reset' %}" class="text-danger"> urinib</a> ko'ring</h1>

{% endblock content %}