{% extends 'pages/base.html' %}
{% load static %}

{% block navbar_menu %}

<ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" id="home" aria-current="page" href="{% url 'home_page_view' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="bought" href="{% url 'bought_page_view' %}">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="product" href="{% url 'product_page_view' %}">Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact" href="{% url 'contact_page_view' %}">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="log_in" href="{% url 'login' %}">Log in</a>
    </li>
  </ul>

{% endblock navbar_menu %}


{% block content %}

<form method="POST" enctype="multipart/form-data" class="login-form">{% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btm-danger">Save</button>
</form>

{% endblock content %}