{% extends 'pages/base.html' %}

{% load static %}

{% block navbar_menu %}

<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-link" id="home" aria-current="page" href="{% url 'home_page_view' %}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="bought" href="{% url 'bought_page_view' %}">Services</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " id="product" href="{% url 'product_page_view' %}">Product</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact" href="{% url 'contact_page_view' %}">Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link local_active active" id="contact" href="{% url 'contact_page_view' %}">Watch Detail</a>
  </li>
  {% if request.user.is_authenticated %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
  </li>
  <li class="nav-item">
    <a href="{% url 'logout' %}" class="btn btn-danger b_none nav-link">Logout</a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link  log_in" id="log_in" href="{% url 'login' %}">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link log_in" href="{% url 'sign_up' %}">Sign up</a>
  </li>
  {% endif %}
</ul>

{% endblock navbar_menu %}

{% block content %}

<section class="watch-detail row">
  <ul class="col-md-6">
      <li>Brand: <span>{{detail.title}}</span></li>
      <li>Name: <span>{{detail.subtitle}}</span></li>
      <li>Price: <span>{{detail.price}}$</span></li>
      <li>
          <div class="about">
              {{detail.about}}
          </div>
      </li>
  </ul>
  <div class="slide col-md-6">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{detail.image_one.url}}" class="d-block " alt="...">
            </div>
            {% if detail.image_two.url is not None %}
            <div class="carousel-item">
              <img src="{{detail.image_two.url}}" class="d-block " alt="...">
            </div>
            {% endif %}
            {% if detail.image_three.url is not None %}
            <div class="carousel-item">
              <img src="{{detail.image_three.url}}" class="d-block " alt="...">
            </div>
            {% endif %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
</section>

{% endblock content %}