{% extends 'pages/base.html' %}

{% load static %}
{% load hitcount_tags %}

{% block content %}

<section class="watch-detail row">
  <span style="color:white">Izohlar soni: {{comments.count}} | Ko'rilganlar soni: {% get_hit_count for detail %}</span>
  <ul class="col-md-6">
      <li>Brand: <span>{{detail.title}}</span></li>
      <li>Name: <span>{{detail.subtitle}}</span></li>
      <li>Price: <span>{{detail.price}}$</span></li>
      <li>
          <div class="about">
              {{detail.about}}
          </div>
      </li>
  </ul>
  <div class="slide col-md-6">
      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{{detail.image_one.url}}" class="d-block " alt="...">
            </div>
            {% if detail.image_two.url is not None %}
            <div class="carousel-item">
              <img src="{{detail.image_two.url}}" class="d-block " alt="...">
            </div>
            {% endif %}
            {% if detail.image_three.url is not None %}
            <div class="carousel-item">
              <img src="{{detail.image_three.url}}" class="d-block " alt="...">
            </div>
            {% endif %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
  </div>
</section>

<div class="comments">
  <form method="POST">{% csrf_token %}
      {{comment_form.as_p}}
      <button type="submit">Send</button> 
  {% for comment in comments %}

  <div class="comment card" style="border-bottom: 1px solid gray; padding: 20px; margin-top: 30px;">
    <h5 style="width: 50%; display: inline-block;" class="text-left text-danger">{{ comment.user }}</h5>
    <p style="width: 40%; display: inline-block;" class="text-muted text-right">{{ comment.created_time }}</p>
    <div class="card-body">
      <p>{{ comment.text }}</p>
    </div>
  </div style="margin-bottom: 30px">

  {% endfor %}
  </form>
</div>


{% endblock content %}