// Admin html ga qo'shimcha stylelar
@mixin title() {
    width: 100%;
    text-align: center;
    padding: 30px;
    margin-top: 30px;

    .title-text {
        color: darkseagreen;
        font-size: 24px;
        font-weight: 500;
    }
}

.admin-panel {
    margin-top: 40px;
    margin-bottom: 40px;

    .statistic{
        padding: 30px;

        .admin-info{
            h4{
                b{
                    color: rgba(0, 0, 0, 0.614);
                }

                color: lightseagreen;
            }
        }
    }

    .informations {
        .orders {
            width: 400px;
            height: auto;
            padding: 30px;

            .title {
                @include title();
            }

            .cards {
                width: 400px;

                .card {
                    width: 400px;

                    .row {
                        width: 400px;
                    }
                }
            }
        }

        .tables {
            margin-top: 29px;

            .all_users,
            .all_contacts,
            .all_watchs {
                margin-left: 60px;

                .title {
                    @include title();
                }

                .scroll {
                    height: 327px;
                    width: 100%;
                    overflow-y: scroll;
                    scrollbar-color: rebeccapurple green;
                    scrollbar-width: thin;
                }
            }
        }
    }
}


// Home html ga qo'shimcha stylelar

$color_1: #01010D;
$color_2: #FFFFFF;
$color_3: #1617DB;
$color_4: #010101;
$color_5: none;
$color_6: white;
$font-family_1: Roboto;
$background-color_1: #1617DB;
$background-color_2: #FFFFFF;
$background-color_3: none;
$background-color_4: #F4F4F4;
$background-color_5: #F7F7F7;

.home-section {
    width: 100%;
    .part-one {
        h1 {
            font-size: 71px;
            font-weight: 700 !important;
            font-style: normal;
            font-family: $font-family_1;
            color: $color_4;
            padding-top: 90px;
        }

        >p {
            font-size: 20px;
            font-weight: 400 !important;
            font-style: normal;
            font-family: $font-family_1;
            color: $color_4;
            margin: 0 auto;
            padding-top: 25px;
            padding-bottom: 70px;
        }

        .main-part {
            margin: 0 auto;

            .card {
                width: 250px !important;
                height: 330px;
                margin: 35px auto;
                text-align: center;
                border: none;
            }

            .part-one__img {
                margin: 0 auto;
            }
        }
    }

    .part-two {
        .about {
            padding-top: 100px;
            padding-left: 9vw;

            p {
                &:nth-child(1) {
                    font-size: 16px;
                    font-weight: 500 !important;
                    font-style: normal;
                    font-family: $font-family_1;
                    color: $color_3;
                    margin-bottom: 0;
                }

                &:nth-child(3) {
                    font-size: 22px;
                    font-weight: 400 !important;
                    font-style: normal;
                    font-family: $font-family_1;
                    color: $color_1;
                    width: 550px;
                    padding-bottom: 70px;
                }
            }

            h1 {
                font-weight: 700;
                color: $color_1;
                margin-bottom: 17px;
                font-size: 70px;
            }
        }

        .cards {
            .card {
                width: 350px !important;
                height: 380px;
                border: none;
                border-radius: 12px;
                margin: 0 40px;
            }
        }

        .watch-video {
            padding-top: 130px;
            padding-bottom: 170px;
            position: relative;

            .video {
                width: 580px;
                height: 490px;
                border-radius: 20px;
            }

            .video-text {
                padding-top: 70px;

                h2 {
                    font-weight: 700;
                    padding-bottom: 25px;
                    color: $color_1;
                }

                p {
                    font-size: 16px;
                    font-weight: 400 !important;
                    font-style: normal;
                    font-family: $font-family_1;
                    padding-bottom: 30px;
                }

                button {
                    width: 150px;
                    height: 50px;
                    background-color: $background-color_2;
                    color: $color_3;
                    font-weight: 600;
                    font-size: 16px;
                    border-radius: 6px;
                    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
                    border-radius: 6px;
                    border: 1px solid #E5E5E5;

                    &:hover {
                        background-color: $background-color_1;
                        color: $color_2;
                    }
                }
            }
        }

        .text-card {
            width: 690px;
            height: 250px;
            background-color: $background-color_4;
            border-radius: 10px;
            padding: 30px 60px;
            margin-left: 8vw;

            >p {
                padding: 0;
                font-size: 16px;
                font-weight: 400 !important;
                font-style: normal;
                font-family: $font-family_1;
                color: $color_1;
            }

            .about {
                padding: 0 !important;

                .info {
                    margin-right: 10px;

                    h3 {
                        font-size: 16px;
                        font-weight: 700 !important;
                        font-style: normal;
                        font-family: $font-family_1;
                        color: $color_1;
                    }

                    p {
                        font-size: 14px;
                        font-weight: 400 !important;
                        font-style: normal;
                        font-family: $font-family_1;
                        color: $color_1;
                    }
                }

                >img {
                    &:nth-child(2) {
                        width: 67px !important;
                        height: 48px;
                    }
                }

                .vector {
                    img {
                        width: 41px;
                        height: 69px;
                        opacity: 0.2;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1405px) {
    body {
        .container {
            .home-section {
                .part-two {
                    .cards {
                        .card {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1205px) {
    body {
        .container {
            .home-section {
                .part-one {
                    .main-part {
                        padding: 0 !important;
                    }
                }

                .part-two {
                    .watch-video {
                        .videoParent {
                            .video {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .container {
        .home-section {
            .part-one {
                .main-part {
                    position: relative;

                    .cards-one {
                        position: relative;
                        right: 200px;
                        padding-bottom: 100px;
                    }

                    .cards-two {
                        position: absolute;
                        right: 100px;
                    }
                }
            }

            .part-two {
                .display-4 {
                    font-size: 40px;
                }

                .text-card {
                    margin: 0;
                }

                .watch-video {
                    padding-top: 20px;
                    padding-bottom: 90px;

                    .video-text {
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 770px) {
    .container {
        .home-section {
            .part-one {
                >h1 {
                    width: auto;
                    padding: 10px 20px;
                }

                .text-center {
                    width: auto;
                    padding: 10px 20px;
                }

                .main-part {
                    position: relative;

                    .cards-one {
                        position: relative;
                        right: 170px;
                        padding-bottom: 100px;
                    }

                    .cards-two {
                        position: absolute;
                        right: 100px;
                    }
                }
            }

            .part-two {
                .text-card {
                    width: 520px;
                    margin: 0;
                    padding: 30px;
                }

                .watch-video {
                    .video {
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 580px) {
    .container {
        .home-section {
            .part-one {
                .main-part {
                    position: static;

                    .cards-one {
                        position: static;
                    }

                    .cards-two {
                        position: static;
                    }
                }
            }

            .part-two {
                .about {
                    p {
                        width: auto;
                    }
                }

                .text-card {
                    width: auto;
                    margin: 0;
                    padding: 30px;
                }
            }
        }
    }
}

// Base htmlda 
.max_height{
    min-height: 100vh;
}

// Login html uchun 
.login-form{
    -webkit-box-shadow: 2px 9px 16px 6px rgba(57, 146, 215, 0.55);
    -moz-box-shadow: 2px 9px 16px 6px rgba(57, 146, 215, 0.55);
    box-shadow: 2px 9px 16px 6px rgba(57, 146, 215, 0.55);
}

.button_sign_up{
    a{
        text-decoration: none;

        &:hover{
            color: white;
        }
    }
}

// logout 
.logout-text{
    margin-top: 100px;
    font-size: 70px;
    font-weight: 500;
    text-decoration: underline rosybrown;
}

.logout-link{
    padding-left: 30px;
    text-decoration: underline 2px blue;
}

// Password_change_done html uchun
.password-change-done-text{
    margin-top: 100px;
    font-size: 45px;
    color: indigo;
}

// Password change_text html uchun
.password-change-text{
    color: indigo;
    font-size: 60px;
}

// Password reset done html uchun
.password-reset-done-text{
    font-size: 48px;
    color: indigo;          
}

// Profile
.section-profile{
    ul{
        padding: 50px 30px;
        text-align: center;
        li{
            list-style: none;
            margin-bottom: 20px;
            
            img{
                text-align: center;
                width: 180px;
                height: 180px;
                display: inline-block;
                border-radius: 50%;
                border: 2px solid darkgrey;
            }

            b{
                font-size: 22px;
                font-weight: 500;
                color: #708090;
                margin-right: 100px;
            }

            span{
                font-size: 22px;
                font-weight: 400;
                color: #163737;
                display: inline-block;
                position: relative;
                text-align: end;
                width: 200px;
            }

            a{
                display: inline-block;
                margin-top: 30px;
                font-size: 24px;
                font-weight: 400;
                color: indigo;
            }
        }
        
        li:nth-child(1){
            text-align: center;
            width: 100%;
            margin: 0;
            margin-bottom: 60px;
        }

        h4{
            color: #163737;
        }
    }
}

// Services html uchun
.services-section{
    h1{
        padding: 150px 0 20px 150px;
        font-size: 70px;
        font-weight: 500;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 9px;
        color: #163737;
    }

    .shadow-services{
        display: inline-block;
        margin-left: 150px;
        width: 100px;
        height: 3px;
        background-color: gray;
    }

    .call{
        width: 500px;
        padding: 50px;
        margin-top: 50px;
        height: auto;
        background-color: antiquewhite;
        position: absolute;
        right: 200px;
        border-radius: 7px;
        -webkit-box-shadow: 2px 0px 34px 0px rgba(80, 71, 34, 0.2);
        -moz-box-shadow: 2px 0px 34px 0px rgba(80, 71, 34, 0.2);
        box-shadow: 2px 0px 34px 0px rgba(80, 71, 34, 0.2);

        p{
            font-size: 30px;
            font-weight: 500;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #163737;
        }

        a{
            display: inline-block;
            text-decoration: none;
            font-size: 60px;
            color: #163737;
        }
    }

    .call-width{
        height: 400px;
    }
}

// Watch detail html
.watch-detail{
    background-color: rgb(8, 2, 33);
    margin-top: 80px;
    padding: 40px;

    ul{
        li{
            list-style: none;
            margin-bottom: 20px;
            font-size: 24px;
            font-weight: 400;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: whitesmoke;

            span{
                margin-left: 100px;
                color: rgb(120, 147, 156);
            }     
            
            .about{
                margin-left: 30px;
                margin-top: 50px;
                width: 70%;
                font-size: 22px;
                color: antiquewhite;
                font-weight: 300;              
            }
        }
    }

    .slide{
        .carousel{
            width: 500px !important;
            .carousel-inner{
                background-color: rgb(193, 235, 235);
                width: 500px !important;
                text-align: center;
                border-radius: 12px;

                .carousel-item {
                    img {
                        width: 400px !important;
                        height: 400px !important;
                        border: 2ps solid;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
}

// Index html 
.language_form{
    background-color: none;
    width: 150px;
    height: auto;
    margin: 0;
    padding: 0;
}